@import 'yoga';
@import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
//
* {
  margin: none;
}

.nav-bar {
  display: flex;
  justify-content: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin: 1rem;
}

.hero_img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  background: black;
  text-align: center;
  text-transform: uppercase;
  filter: grayscale(60%);
  background: url('./img/FireEscapes.jpg') top center/cover fixed;
  min-height: 75vh;
}

.main-content__header {
  display: flex;
  justify-content: center;
  color: red;
}

.bottom {
  color: #fff;
  min-width: 45vh;
}
